body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 1.5em;
}

* {
  padding: 0;
  margin: 0;
}

input[type="button"]{
  width: 2em;
  height: 2em;
  text-align: center;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#board {
  border: 10px solid darkgray;
  background-color: lightgray;

  /*Coloca o item no centro sem ter que definie o width em 100%*/
  margin: 0 auto;
  display: grid;
  width: fit-content;
  position: relative;
}

#board div {
  width: 1.5em;
  height: 1.5em;
  border: 3px solid whitesmoke;
  border-top: 3px solid grey;
  border-left: 3px solid grey;

  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

#board .reset {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#board .reset .container {
  width: 70%;
  height: fit-content;
  padding: 2vh 0;
  border: 0;
  position: relative;
  background-color: aqua;
}

.container img {
  position: absolute;
  width: 40%;
  left: 5%;
  top: -5px;
}

.container h1 {
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  z-index: 1;
}

.reset button{
    padding: .7em;
    border-radius: 25px;
    font-size: .7em;
    font-weight: 900;
    cursor: pointer;
}

.tile-clicked {
  background-color: darkgray;
}

.x1::after {
  content: "1";
  color: blue;
}

.x2::after {
  content: "2";
  color: green;
}

.x3::after {
  content: "3";
  color: red;
}

.x4::after {
  content: "4";
  color: navy;
}

.x5::after {
  content: "5";
  color: brown;
}

.x6::after {
  content: "6";
  color: teal;
}

.x7::after {
  content: "7";
  color: black;
}

.x8::after {
  content: "8";
  color: gray;
}

#flag-button {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  font-size: 30px;
  background-color: lightgrey;
  box-shadow: -2px 3px 0 #222, -4px 6px #000;
  border: solid 2px black;
}

#flag-button.active{
  box-shadow: inset -4px 4px 0 #222;
}