body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 1.5em;
}

h1 {
  padding: 0;
  margin: 0;
}

#board {
  border: 10px solid darkgray;
  background-color: lightgray;

  /*Coloca o item no centro sem ter que definie o width em 100%*/
  margin: 0 auto;
  display: grid;
  width: fit-content;
}

#board div {
  width: 1.5em;
  height: 1.5em;
  border: 3px solid whitesmoke;
  border-top: 3px solid grey;
  border-left: 3px solid grey;

  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.tile-clicked {
  background-color: darkgray;
}

.x1::after {
  content: "1";
  color: blue;
}

.x2::after {
  content: "2";
  color: green;
}

.x3::after {
  content: "3";
  color: red;
}

.x4::after {
  content: "4";
  color: navy;
}

.x5::after {
  content: "5";
  color: brown;
}

.x6::after {
  content: "6";
  color: teal;
}

.x7::after {
  content: "7";
  color: black;
}

.x8::after {
  content: "8";
  color: gray;
}

#flag-button {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  font-size: 30px;
  background-color: lightgrey;
  border: none;
}
